PORT=3000
NODE_ENV=development
OPEN_BROWSER=true
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/interclases_db?retryWrites=true&w=majority
ADMIN_PASSWORD=Admin12345*
ADMIN_EMAIL=anjelitoxk@gmail.com
ADMIN_NAME=Ángel Orlando Briceño Chacón
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=soporte.interclases.ljv@gmail.com
EMAIL_PASS=tu_clave_de_aplicacion_de_16_caracteres
APP_URL=http://localhost:3000
